#profile-img {
    width: 120px;
    position: absolute;
    right: 3%;
};
@media screen and (min-width: 1200px) {
    #profile-img {
        width: 120px;
    };
}
@media screen and (max-width: 1199px) {
    #profile-img {
        width: 110px;
    };
}
@media screen and (max-width: 649px) {
    #profile-img {
        margin: 7px 0;
        width: 100px;
    };
}
@media screen and (max-width: 448px) {
    #profile-img {
        position: relative;
        right: 0;
        margin: 20px auto;
        width: 100px;
    };
}